body{
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: auto;
}

h1{
    color: aqua;
    margin-top: 250px;
    margin-left: 500px;
    font-family: 'Pacifico', cursive;
    font-size: 80px;
}

.available{
    width: 200px;
    height: 30px;
    border-radius: 20px;
    background-color: white;
    margin-left: 650px;
    color: green;
    float: left;
    font-family: 'Roboto', sans-serif;
}
i{
    padding-top: 5px;
    padding-left: 15px;
}

.snow1, snow2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("snow.png");
    background-position: 0 0;
}


.snow1{
    background-size: 70em;
    animation: snowfall 30s linear infinite;
}

.snow2{
    background-size: 50em;
    animation: snowfall2 30s linear infinite;
    opacity: 0.5;
}

@keyframes snowfall {
    100% {
        background-position: 70em 70em;
    }
}

@keyframes snowfall2 {
    100% {
        background-position: 50em o;
    }
    .available{
        width: 200px;
        height: 30px;
        border-radius: 20px;
        background-color: white;
        margin-left: 45px;
        color: blue;
        float: left;
        font-family: 'Roboto', sans-serif;
    }
    i{
        padding-top: 5px;
        padding-left: 15px;
    }
}







@media screen and (max-width: 567px) {
    body{
        background-image: url(bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100vh;
        width: auto;
    }
    h1{
        margin-top: 300px;
        margin-left: 50px;
        font-size: 45px;
    }

    .available{
        width: 200px;
        height: 30px;
        border-radius: 20px;
        background-color: white;
        margin-left: 100px;
        color: blue;
        float: left;
        font-family: 'Roboto', sans-serif;
    }
    i{
        padding-top: 5px;
        padding-left: 15px;
    }
}
